### Assignment 5

You will unzip the zip file manually in preparation for this assignment.

The link to the zip file is (you have already used it in your assignment 3):

https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip

After unzipping, You will have all files in one folder named "CollegeScorecard_Raw_Data" 

The folder contains the yearly data files from 1996 to 2017 school years.

Your Jupyter Notebook file should not be in the CollegeScorecard_Raw_Data folder. 

I suggest you create a new folder call "Assignment4" and place the Notebook file and the data folder under it.

Assignment4/
    - Jay.ipynb
    - CollegeScorecard_Raw_Data/
        - ...
        - 'MERGED1996_97_PP.csv',
        - 'MERGED2015_16_PP.csv',
        - ...
        - 'MERGED2017_18_PP.csv'

In [12]:
# <1> 
# Import libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# <2>
# Find out what files are in the folder and assign the list of files to a variable for later processing
# you would need to import a library call os which stands for operating system. so place that import statement in previous cell.
# # os library also has method getcwd() to get the current working directory. since your notebook and your data files are not in 
# the same folder, you want to make sure what is the current working folder and how to access a data file in a different folder
# display the current workin directory
os.getcwd()

'C:\\Users\\jay\\apps\\DATA690-1\\Assignment #5'

In [16]:
# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder
# use this method to assign the contents of the data folder to a variable and display it
files = os.listdir(path='CollegeScorecard_Raw_Data')
files

['Crosswalks.zip',
 'data.yaml',
 'MERGED1996_97_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2001_02_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2017_18_PP.csv']

In [18]:
# <4> 
# The folder contains a couple of files that are not the yearly data files
# write code to remove the unwanted files from the list (Note: not from the folder in your drive)
# hint: use pop or remove functions of a list. pop and remove work differently though.
files.pop(0)
files

['data.yaml',
 'MERGED1996_97_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2001_02_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2017_18_PP.csv']

In [19]:
files.pop(0)
files

['MERGED1996_97_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2001_02_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2017_18_PP.csv']

In [21]:
# <5> 
# Now that you have a clean list of the yearly files, you want to loop through them
# and read them into a dataframe one at a time. You only load three columns: UNITID, ADM_RATE, and TUITIONFEE_IN
# You also want to add a new column call "YEAR" to differentiate the data frames from each other.
# You would use an empty list and append the yearly dataframes to the list.
# After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a 
# new single data frame.
# Note: this exercise incorporates many techques we learned before
# - list (creating an empty, append an item to the list)
# - for loop 
# - read only the needed columns from a file (using usecols option)
# - add a new column to a data frame
# - concatenate multiple dataframes into a single one
# This exercise may appear a big challenging but it worths the effort. You will learn a lot and  love it. I promise.

cols = ['UNITID','ADM_RATE','TUITIONFEE_IN']
path='CollegeScorecard_Raw_Data/'
df_list = []
for file in files:
    tempdf = pd.read_csv(path+file, usecols=cols)
    tempdf['YEAR']= file[6:10]
    df_list.append(tempdf)
df = pd.concat(df_list)
df

        UNITID  ADM_RATE  TUITIONFEE_IN  YEAR
0       100636       NaN            NaN  1996
1       100654       NaN            NaN  1996
2       100663       NaN            NaN  1996
3       100672       NaN            NaN  1996
4       100690       NaN            NaN  1996
5       100706       NaN            NaN  1996
6       100724       NaN            NaN  1996
7       100751       NaN            NaN  1996
8       100760       NaN            NaN  1996
9       100812       NaN            NaN  1996
10      100830       NaN            NaN  1996
11      100858       NaN            NaN  1996
12      100919       NaN            NaN  1996
13      100937       NaN            NaN  1996
14      100964       NaN            NaN  1996
15      101019       NaN            NaN  1996
16      101028       NaN            NaN  1996
17      101037       NaN            NaN  1996
18      101073       NaN            NaN  1996
19      101107       NaN            NaN  1996
20      101116       NaN            NaN  1996
21      101143       NaN            NaN  1996
22      101161       NaN            NaN  1996
23      101189       NaN            NaN  1996
24      101198       NaN            NaN  1996
25      101204       NaN            NaN  1996
26      101213       NaN            NaN  1996
27      101231       NaN            NaN  1996
28      101240       NaN            NaN  1996
29      101268       NaN            NaN  1996
...        ...       ...            ...   ...
7085  47503301       NaN            NaN  2017
7086  47503302       NaN            NaN  2017
7087  47503303       NaN            NaN  2017
7088  47503304       NaN            NaN  2017
7089  47503305       NaN            NaN  2017
7090  47503306       NaN            NaN  2017
7091  47503307       NaN            NaN  2017
7092  47503308       NaN            NaN  2017
7093  47503309       NaN            NaN  2017
7094  47503310       NaN            NaN  2017
7095  47503311       NaN            NaN  2017
7096  47503312       NaN            NaN  2017
7097  47503313       NaN            NaN  2017
7098  47647001       NaN            NaN  2017
7099  47662901       NaN            NaN  2017
7100  47691101       NaN            NaN  2017
7101  48065701       NaN        10935.0  2017
7102  48079001       NaN            NaN  2017
7103  48092101       NaN            NaN  2017
7104  48133101       NaN            NaN  2017
7105  48154401       NaN            NaN  2017
7106  48305401       NaN            NaN  2017
7107  48312401       NaN            NaN  2017
7108  48312402       NaN         6904.0  2017
7109  48312403       NaN            NaN  2017
7110  48312404       NaN            NaN  2017
7111  48387801       NaN            NaN  2017
7112  48400201       NaN            NaN  2017
7113  48778201       NaN            NaN  2017
7114  49005401       NaN        22575.0  2017

[154285 rows x 4 columns]